AddWSDL.xml

<wsdl:description xmlns:wsdl="http://www.w3.org/ns/wsdl" targetNamespace="http://www.arthmetic.com/wsdl" 
  xmlns:tns="http://www.arthmetic.com/wsdl" 
  xmlns:whttp="http://www.w3.org/ns/wsdl/http" 
  xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:msg="http://www.arthmetic.com/xsd">
  <wsdl:documentation>
     This is a WSDL 2.0 description of a simple Arithmetic operations
  </wsdl:documentation>

  <wsdl:types>
    <xs:import namespace="http://www.bookstore.org/booklist/xsd" schemaLocation="booklist.xsd"/>
  </wsdl:types>

  <wsdl:interface name="AddOperation">
    <wsdl:operation name="addTwoNums" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/iri" wsdlx:safe="true">
      <wsdl:input messageLabel="In" element="msg:sumRequest"/>
      <wsdl:output messageLabel="Out" element="msg:Response"/>
    </wsdl:operation>
  </wsdl:interface>
  <!-- <wsdl:operation name="addTwoNums" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/iri" wsdlx:safe="true">
      <wsdl:input messageLabel="In" element="msg:quotientRequest"/>
      <wsdl:output messageLabel="Out" element="msg:quotientResponse"/>
    </wsdl:operation>
    <wsdl:operation name="subtractTwoNums" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/iri" wsdlx:safe="true">
      <wsdl:input messageLabel="In" element="msg:diffRequest"/>
      <wsdl:output messageLabel="Out" element="msg:diffResponse"/>
    </wsdl:operation>
    <wsdl:operation name="multiplyTwoNums" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/iri" wsdlx:safe="true">
      <wsdl:input messageLabel="In" element="msg:productRequest"/>
      <wsdl:output messageLabel="Out" element="msg:productResponse"/>
    </wsdl:operation>
    <wsdl:operation name="divideTwoNums" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/iri" wsdlx:safe="true">
      <wsdl:input messageLabel="In" element="msg:quotientRequest"/>
      <wsdl:output messageLabel="Out" element="msg:quotientResponse"/>
    </wsdl:operation>
    <wsdl:operation name="double" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/iri" wsdlx:safe="true">
      <wsdl:input messageLabel="In" element="msg:doubleRequest"/>
      <wsdl:output messageLabel="Out" element="msg:doubleResponse"/>
    </wsdl:operation>
    <wsdl:operation name="square" pattern="http://www.w3.org/ns/wsdl/in-out" style="http://www.w3.org/ns/wsdl/style/iri" wsdlx:safe="true">
      <wsdl:input messageLabel="In" element="msg:squareRequest"/>
      <wsdl:output messageLabel="Out" element="msg:squareResponse"/>
    </wsdl:operation> -->

  <wsdl:binding name="AddHTTPBinding" type="http://www.w3.org/ns/wsdl/http" interface="tns:AddOperation">
    <wsdl:operation ref="tns:addTwoNums" whttp:method="GET"/>
  </wsdl:binding>

  <wsdl:service name="Add" interface="tns:AddOperation">
    <wsdl:endpoint name="BookListHTTPEndpoint" binding="tns:AddHTTPBinding" address="http://localhost:5003/"></wsdl:endpoint>
  </wsdl:service>
</wsdl:description>